/* VALS */
:root {
    /* colours / intensity */
    --colour-primary:   #;
    --colour-secondary: #;
    --colour-tertiary:  #;

    --colour-white:     #FFFFFF;
    --colour-grey:      #979797;
    --colour-black:     #000000;

    --colour-positive:  #;
    --colour-negative:  #;
    --colour-info:      #;
    --colour-warning:   #;

    --inten-primary:   1.0;
    --inten-secondary: 0.5;
    
    /* layout */
}

/* RULES */
.nomark {
    user-select: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
.underline {
    color: var(--colour-white);
    
    transition: background-size 0.2s, background-position 0s 0.2s;;

    background-image: linear-gradient(var(--colour-white), var(--colour-white));
    background-position: 0 100%;
    background-size: 0% 1.5px;
    background-repeat: no-repeat;
}
.underline:hover {
    background-position: 100% 100%;
    background-size: 100% 1.5px;
}

/* STYLE */
html {
    scroll-behavior: smooth;
}
body {
    position: absolute;
    
    top:  0;
    left: 0;

    margin: 0;

    font-family: 'segoe UI';

    color: var(--colour-white);
    background-color: var(--colour-black);

    overflow-x: hidden;
}
    /* heaader */
    body header {
        position: fixed;

        width: calc(100vw - 32px);

        padding: 16px;

        justify-content: space-between;
        align-items: center;
        
        display: flex;
    }
        body header a {
            display: ruby;

            text-decoration: none;
        }
            body header a img {
                display: inline;
            }
            body header a h2 {
                display: inline;

                color: var(--colour-primary);
            }
        body header nav {
            display: ruby;
        }
            body header nav a {
                display: inherit;

                margin: 0;
                margin-left:  16px;
                margin-right: 16px;
            }
            
    /* section */
    body section {

    }
        body section article {

        }
    
    /* fixed side */
    body aside {
        position: fixed;

        top: calc(50% - 164px / 2);
        right: 0;

        padding: 2px;
    }
        body aside a {
            padding: 2px;

            display: block;
        }
            body aside a  img {
                height: 32px;
                width:  32px;
            }

    /* footer */
    body footer {
        padding: 32px;
        padding-bottom: 4px;
    }
        body footer a {
            display: inline-block;

            text-decoration: none;

            margin-right: 64px;
        }
            body footer a img {
                display: inherit;
            }
            body footer a h2 {
                display: inherit;
            }
        body footer table {

            margin: 0;
            margin-top:    16px;
            margin-bottom: 32px;

            float: right;
        }
            body footer table tr {}
                body footer table tr th {
                    min-width: 200px;
                    text-align: start;
                }
                body footer table tr td {
                    min-width: 200px;
                    text-align: start;
                }
                    body footer table tr td a {
                        text-decoration: none;
                    }
        body footer div {
            display: flex;

            width: 100%;
            
            justify-content: space-between;
            align-items: center;

            font-size: 12px;
        }
            body footer div span {
                color: var(--colour-grey);
            }
                body footer div span a  {
                    margin: 0;
                    margin-left:  16px;
                    margin-right: 16px;
                    
                    color: var(--colour-white);
                    
                    transition: color .1s;
                }
                body footer div span a:hover {
                    color: var(--colour-grey);
                }
                    body footer div span a img {
                        height: 26px;
                        width:  26px;
                    }